<!DOCTYPE html>
<html lang="en">
<body>
 <label for="form-selection2 mb-4" style="margin-top: 1rem">Confirm your city</label>
             <select class="form-select" aria-label="Default select example" id ="form-selection2" style="margin-top: 1rem; margin-bottom: 2rem">
             {% if city == "Pune" %}
                  <option selected value="1">{{ city }}</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Delhi</option>
                  <option value="4">Bangalore</option>
                 {% endif %}
             {% if city == "Delhi" %}
                  <option selected value="1">{{ city }}</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Delhi</option>
                  <option value="4">Bangalore</option>
                 {% endif %}
             {% if city == "Mumbai" %}
                  <option selected value="1">{{ city }}</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Delhi</option>
                  <option value="4">Bangalore</option>
                 {% endif %}
             {% if city == "Bangalore" %}
                  <option selected value="1">{{ city }}</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Delhi</option>
                  <option value="4">Bangalore</option>
                 {% endif %}
             </select>
</body>
</html>