<!DOCTYPE html>
<html lang="en">
<body>
   <label for="form-selection3 mb-4" style="margin-top: 1rem">Pick your category </label>
             <select class="form-select" aria-label="Default select example" id ="form-selection3" style=" margin-top: 1rem;margin-bottom: 1rem" name="category">
                  <option value="A">Electrician</option>
                  <option value="P">Pest control</option>
                  <option value="M">Plumbing</option>
                  <option value="S">Sanitization</option>
             </select>
</body>
</html>