<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>


    <div class="contact" >
        <h1 style="color:white">Sign Up</h1>
        <b id="b1">______________</b>
        <p style="color: white;">Create Your account and get Recruited!</p>
        <form action="#" method="POST">
          <fieldset>
            <input type="text" id="Name" placeholder="First Name" autocomplete="off" required>
            <input type="text" id="Name" placeholder="Last Name" autocomplete="off" required>
            <br>
            <input type="tel" id="Mobile" placeholder="Phone Number" autocomplete="off" required>
            <input type="email" id="email_id" placeholder="Email Address" autocomplete="off" required>
            <br>
            <input type="text" id="Address" placeholder="Address" autocomplete="off" required>
            <br>
            <button><b>SUBMIT</b></button>
          </fieldset>
        </form>
    </div>
</body>
</html>