<!DOCTYPE html>
<html lang="en">
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
			<!-- Container wrapper -->
			<div class="container">
				<!-- Navbar brand -->
				<a class="navbar-brand me-2" href="https://mdbgo.com/">
					<img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
        height="16"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
				</a>
				<!-- Toggle button -->
				<button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
					<i class="fas fa-bars"></i>
				</button>
				<!-- Collapsible wrapper -->
				<div class="collapse navbar-collapse" id="navbarButtonsExample" style=" font-family: 'Roboto', sans-serif;">
					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
					</ul>
					<!-- Left links -->
					<div class="d-flex align-items-center">
                    {% if user.is_authenticated and employee is None %}
                        <a href="/account/signup/professional" style="margin-right: 1rem">
                           Register as a professional
                        </a>
{#							<button type="button" class="btn btn-link px-3 me-2">#}

{#        </button>#}
                    {% endif %}
          {% if user.is_anonymous %}
						<a href="/account/signup/professional">
							<button type="button" class="btn btn-link px-3 me-2">
          Register as a professional
        </button>
						</a>
						<a href="/accounts/login">
							<button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
						</a>
						<a href="/accounts/signup">
							<button type="button" class="btn btn-primary me-3">
          Sign up for free
        </button>
						</a>
          {% endif %}
          {% if user.is_authenticated  and user.name != None%}
            <span class="navbar-text" style="margin-right: 5px">Welcome, {{ user.name }}</span>

						<!-- Icon dropdown -->
						<ul class="navbar-nav d-flex flex-row">
							<li class="nav-item me-3 me-lg-0 dropdown">
								<a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
									<i class="fas fa-user"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="/profile">Edit profile</a>
									</li>
                                    {% if employee != None %}
                                        <li>
										<a class="dropdown-item" href="/employee/dashboard">E Dashboard</a>
									</li>
                                         <li>
										<a class="dropdown-item" href="/employee/tasks/view">Tasks Assigned</a>
									</li>
                                          <li>
										<a class="dropdown-item" href="/employee/requests">Your requests</a>
									</li>
                                        {% endif %}
                                 {% if employee is None %}
									<li>
										<a class="dropdown-item" href="/dashboard">Dashboard</a>
									</li>
                                     {% endif %}
                                 {% if request.user.is_staff %}
                                <li>
										<a class="dropdown-item" href="/requests/assignment">Assign requests</a>
									</li>
                                {% endif %}
									<li>
										<hr class="dropdown-divider" />
									</li>
									<li>
										<a class="dropdown-item" href="/accounts/logout">Logout</a>
									</li>
								</ul>



							</li>
          {% endif %}
                        </ul>

						</div>
					</div>
					<!-- Collapsible wrapper -->
				</div>
				<!-- Container wrapper -->
			</nav>
			<!-- Navbar -->
		</body>
	</html>